@media(min-width:481px) and (max-width: 1024px) {
    .contenedor-contacto {
        background-size: 100% 100%;
    
        .formulario {
            margin-left: 10rem;
            margin-top: 3rem;
            margin-bottom: 3rem;

            .comentario{
                textarea {
                    width: 100%;
                   
                }
            }
        }

        .mapa{
            iframe {
                display: none;    
            }
        }
    }

}