
.contenedor-titulo{
    
    
    h1{
        a{
            position: absolute;
            top: 22rem;
            left: 32rem;
            background-color: rgba(194, 194, 185, 0.5);
            padding: 1rem;
            border-radius: 4rem;
            text-decoration: none;
            color: rgb(46, 45, 45);
            font-size: 20px;
            width: 20rem;
            text-align: center;
            z-index: 1;
            
            &:hover{
                background-color: rgba(255, 255, 255, 0.74);
                text-decoration: none;
            }   
        }
    }
}

.videoinicio {
    @include dimensiones(100%,100%);
}




  

  