@media(min-width:481px) and (max-width: 768px) {
    .main-nosotros {
        .fg {
            .contenedor-estudio {

                margin: 0;
                margin-left: -1rem;
                margin-top: 2.5rem;
                width: 65%;
                height: 65%;
                z-index: 0;
            }

            p {
                width: 50%;
                font-size: 14px;
                margin-left: 4.5rem;
                margin-top: 5rem;
                background-color: rgba(155, 155, 155, 0.281);
                margin-right: 1.5rem;
                margin-bottom: 5rem;
            }
        }
    }
}