@media (max-width: 480px) {
    .main-trabajos {
        .trabajos {
            flex-direction: column;
            
            video {
                margin-top: .1rem;
                margin-left: 0rem;
                width: 100%;
                height: 100%;
            }
    
            p {
                padding-left: 3rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
                background-color: rgba(207, 205, 205, 0.349);
            }
        }
    
        .img-trabajos {
            grid-template-columns: repeat(2, 10vh);
            grid-template-rows: repeat(6, 200px);
            height: 90rem;
            grid-column-gap: 3rem;
            margin-top: 10rem;
            margin-bottom: 8rem;
    
            img {
                width: 24vh;   
            }
        }
    }
}      
      