@media (max-width: 480px) {

    .navbar {
        height: 4.6rem;
       
        
        .logo {
            width: 13vw;
            overflow: hidden;
            display: flex;
            margin-left: 1.5rem;
        
    
            img {
                width: 100%;
                margin-left: 0rem;
                border-radius: 0;
                object-fit: cover;
                padding-bottom: 0rem;
                margin-top: 0;
            }
        }
        
    }

    .navbar-toggler {
       margin-top: 1.5rem;
       margin-bottom: 0.5rem;
       

       .contenedor-menu-icon{
        width: 2rem;
        height: 2rem;

            .bi-list{
                color: rgba(255, 255, 255, 0.761);
            
            }
        }
    }

    .contenedor-nav {
        background-color: #474747be;
        z-index: 1;
    }

}