@media (max-width: 480px) {

    .navbar {
        height: 4.5rem;
        
        .logo {
            width: 13vw;
            overflow: hidden;
            display: flex;
            margin-left: 1.5rem;
        
    
            img {
                width: 100%;
                margin-left: 0rem;
                border-radius: 0;
                object-fit: cover;
                padding-bottom: 0rem;
                margin-top: 0;
            }
        }
        
    }

    .navbar-toggler {
       margin-top: 1.5rem;
    }

    .contenedor-nav {
        background-color: #474747be;
        z-index: 1;
    }

}